$main-font: Arial, sans-serif;
$theme-color: #000000;
$theme-color-light: lighten($theme-color, 60%);
$light-gray: #A0A0A0;
$navigational-content: $light-gray;

html {
  font-family: $main-font;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding-top: 24px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6,
img, div, ul, li, body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.wrapper {
  position:relative;
  max-width: 1080px;
  width: 92vw;
  min-height: 100%;
  margin: 0 auto;
}

.horizontal-bar {
  border-top: 1px solid $navigational-content;
}

/* Center align wrapper for inline-blocks */
.center-wrap {
  text-align: center;
}

.white-color {
  color: #FFFFFF !important;
}

.black-color {
  color: #000000 !important;
}

section .label {
  padding: 4px;
  margin: 8px;
  margin-top: 16px;
  display: inline-block;
  border-bottom: 1px solid #000000;
}

/* Footer */

footer {
  position: absolute;
  max-width: 1080px;
  width: 92vw;
  margin: 0 auto;
  color: $light-gray;
  bottom: 0;
  left: 0;
  right: 0;

  a {
    color: $navigational-content;

    &:hover {
      color: $theme-color;
    }
  }
}

/* Navigation Bar */

.navbar {
  position: relative;
  max-width: 1080px;
  width: 92vw;
  height: 50px;
  margin: 0 auto;
  color: $navigational-content;

  a {
    color: $navigational-content;

    &:hover {
      color: $theme-color;
    }
  }

  h3 {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    padding-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      border-top: 1px solid $theme-color;
    }
  }

  ul {
    position: absolute;
    top: 0;
    right: 0;

    li {
      float: right;
      margin-left: 16px;
      padding-top: 16px;
      border-top: 1px solid rgba(0, 0, 0, 0);

      &:hover {
        border-top: 1px solid $theme-color;
      }
    }
  }
}

/* Introductory Section */

#about {
  position: relative;
  height: 260px;
  padding: 16px;
}

#about-container {
  position: absolute;
  left: 50%;
  margin: auto;
  margin-left: -360px;
  width: 720px;
  height: 260px;
  font-family: $main-font;

  img {
    border-radius: 50% 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 250px;
  }

  p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 420px;
    height: 130px;
    padding: 8px;

    a {
      color: #0094E5;

      &:hover + .left-arrow {
        opacity: 1;
        margin-left: 0;
      }
    }

    .left-arrow {
      opacity: 0;
      margin-left: 8px;
      color: #0094E5;

      transition: all 0.1s linear;
    }
  }
}

/* Projects Section */

#projects-header {
  margin: 24px;
  padding: 4px;
  display: inline-block;
  border-bottom: 2px solid #000000;
}

#projects-container {
  max-width: 936px;
  margin: 0 auto;
}

/* Project Module */

.project {
  position: relative;
  width: 295px;
  height: 350px;
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
  float: left;
  margin-bottom: 32px;
  margin-right: 16px;
  overflow: hidden;

  img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .project-description-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    padding-top: 8px;
    background-color: #FFFFFF;

    .project-label {
      position: relative;

      .project-title {
        display: inline-block;
        border-bottom: 2px solid #000000;
        padding-bottom: 4px;
      }

      .fork-link {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.5;
        color: #000000 !important;
        font-size: 12px;

        &:hover {
          color: #000000 !important;
          opacity: 1;
        }
      }
    }

    .project-description {
      margin-top: 8px;
    }
  }
}

/* Contacts Section */

.contact-links {
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0.5;
  color: $theme-color;

  &:hover {
    opacity: 1;
  }
}

/* Responsiveness */

@media all and (max-width: 1280px) {
}

@media all and (max-width: 960px) {
  #projects-container {
    width: 766px;
  }

  .project {
    width: 750px;
    height: 600px;
    float: none;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

@media all and (max-width: 800px) {
  #about-container {
    width: 580px;
    margin-left: -290px;

    img {
      width: 200px;
      height: 200px;
    }

    p {
      width: 350px;
      height: 150px;
    }
  }

  #projects-container {
    width: 566px;
  }

  .project {
    width: 550px;
    height: 550px;
  }
}

@media all and (max-width: 680px) {
}

@media all and (max-width: 580px) {
  .navbar {
    li {
      font-size: 12px;
    }
  }

  #about-container {
    width: 400px;
    height: 270px;
    margin-left: -200px;

    img {
      bottom: auto;
      left: 0;
      right: 0;
      width: 100px;
      height: 100px;
    }

    p {
      width: 350px;
      height: 150px;
      top: auto;
      left: 0;
    }
  }

  #projects-container {
    width: 366px;
  }

  .project {
    width: 350px;
    height: 350px;
  }
}

@media all and (max-width: 400px) {
  .navbar {
    h3 {
      font-size: 14px;
    }

    li {
      font-size: 10px;
    }
  }

  #about-container {
    width: 300px;
    height: 325px;
    margin-left: -150px;

    img {
      bottom: auto;
      left: 0;
      right: 0;
      width: 100px;
      height: 100px;
    }

    p {
      width: 250px;
      height: 205px;
      top: auto;
      left: 0;
    }
  }

  #projects-container {
    width: 326px;
  }

  .project {
    width: 320px;
    height: 320px;
  }
}

@media all and (max-width: 360px) {
  .navbar {
    h3 {
      font-size: 12px;
    }

    li {
      font-size: 8px;
    }
  }
  #projects-container {
    width: 266px;
  }

  .project {
    width: 260px;
    height: 320px;
  }
}
