html {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #181818;
  color: #FFFFFF;
  /*height: 2000px;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

span.tab {
  padding-left: 2em;
}

.center {
  text-align: center;
}

#name-box {
  position: absolute;
  top: 0;
  bottom: -400px;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  height: 110px;
}

.name {
  font-size: 48px;
}

.description {
  font-size: 24px;
}

#intro-box {
  /*border: 1px solid green;*/
  position: absolute;
  top: 0;
  bottom: -1100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 680px;
  height: 200px;
  opacity: 0;
  padding: 16px;
  line-height: 1.6;

  transition: all 0.2s ease-in-out;
}

.full-opacity {
  opacity: 1 !important;
}

.intro-box-final {
  bottom: -1000px !important;
}

#projects {
  /*border: 1px solid green;*/
  position: absolute;
  top: 0;
  bottom: -2100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 936px;
  height: 1000px;
}

.project {
  /*border: 1px solid #FFFFFF;*/
  width: 450px;
  height: 450px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  float: left;
  margin: 8px;
  margin-top: 250px;
  overflow: hidden;

  transition: all 0.25s ease-in-out;
}

.project-appear {
  margin: 8px !important;
  opacity: 1 !important;
}

.project:hover {
  opacity: 1 !important;
}

.project-title {
  position: relative;
  padding-bottom: 8px;
}

.project-title h2 {
  border-bottom: 2px solid #000000;
  padding-bottom: 8px;
  display: inline-block;
}

.project-img img {
  width: 450px;
  height: 450px;
}

.project-img {
  width: 450px;
  height: 320px;
  overflow: hidden;
}

.project-description {
  padding: 8px;
  /*text-align: center;*/
}

.git-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  color: #000000;

  transition: all 0.15s ease-in-out;
}

.git-link:hover {
  opacity: 1;
}

#contacts {
  position: absolute;
  top: 0;
  bottom: -3300px;
  left: 0;
  right: 0;
  margin: auto;
  width: 680px;
  height: 200px;
  text-align: center;
}

#contacts h2 {
  padding: 8px;
  display: inline-block;
  border-bottom: 2px solid #FFFFFF;
}

.contact-links {
  margin: 16px;
  opacity: 0.5;

  /*transition: all 0.2s ease-in-out;*/
}

.contact-links:hover {
  opacity: 1;
}

#navie {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 8px;

  transition: all 0.2s ease-in-out;

  -webkit-animation: pulse 1s infinite; /* Chrome, Safari, Opera */
  animation: pulse 1s infinite;
}

.rotate-180 {
  transform: rotate(180deg);
}

@-webkit-keyframes pulse {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes pulse {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

/* Responsiveness */

@media all and (max-width: 1280px) {
}

@media all and (max-width: 800px) {
}

@media all and (max-width: 680px) {
}

@media all and (max-width: 360px) {
}
