html {
	/*background-color: #1975FF;*/
	background-color: #282828;
	font-family: 'Questrial', sans-serif;
	overflow-x: hidden;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.project-list ul {
	list-style-type: none;
}

.project-list li {
	float: left;
	opacity: 0;
	margin: 32px;
	margin-top: 200px;
	-webkit-transition-property: all, opacity;
	-moz-transition-property: all opacity;
	-ms-transition-property: all opacity;
	-o-transition-property: all opacity;
	transition-property: all opacity;
	-webkit-transition-duration: 0.5s, 1.25s;
	-moz-transition-duration: 0.5s 1s;
	-ms-transition-duration: 0.5s 1s;
	-o-transition-duration: 0.5s 1s;
	transition-duration: 0.5s 1s;
	-webkit-transition-timing-function: ease-in-out, ease-in-out;
	-moz-transition-timing-function: ease-in-out ease-in-out;
	-ms-transition-timing-function: ease-in-out ease-in-out;
	-o-transition-timing-function: ease-in-out ease-in-out;
	transition-timing-function: ease-in-out ease-in-out;
}

.pull-up {
	opacity: 1 !important;
	margin-top: 32px !important;
}

.project-ctn {
	width: 360px;
	height: 480px;
	position: relative;
}

.project-ctn:hover img {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
}

.project-ctn:hover .project-description {
	opacity: 1;
}

.project-img {
	width: 360px;
	height: 480px;
	position: relative;
}

.project-description {
	opacity: 0.5;
	padding: 8px;
	height: 112px;
	position: absolute;
	top: 352px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.65);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.project-description h1 {
	padding: 0;
	margin: 0;
	color: #000000;
}

.project-description p {
	border-left: 1px solid black;
	padding: 8px;
	margin: 0;
	color: #000000;
}
.main-layout {
	background-color: #282828;
}

.viewport-name {
	margin: 0;
	padding-top: 42px;
	border: 1px solid transparent;
	background-color: #282828;
}

.viewport-name h1 {
	text-align: center;
	font-size: 64px;
}

.bg-white {
	background-color: rgb(255, 255, 255);
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
}

.bg-black {
	background-color: rgb(0, 0, 0);
}

.viewport-img {
	position: relative;
	/*width: 100vw;*/
	/*height: 75vw;*/
	width: 15vw;
	height: 55vw;
	opacity: 0.1;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.vp-hw {
	height: 50vw;
	background-color: #000000;
}

.viewport-img img {
	width: 100%;
	height: 100%;
}

/*.viewport-img:hover {
	opacity: 1;
	width: 100vw;
	height: 75vw;
}*/

.viewport-img-expand {
	opacity: 1;
	width: 100vw;
	height: 75vw;
}

.ctr-img-txt {
	color: rgba(255, 255, 255, 0.75);
	/*font-size: 192px;*/
	font-size: 13vw;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18%;
  margin: auto;
	text-shadow: 0 0 16px rgba(255, 255, 255, 0.8);
}

.hello-world-txt {
	width: 80%;
	height: 25%;
	color: #19FF19;
}

.adventure-txt {
  width: 68%;
}

.photography-txt {
	width: 84%;
}

.bike-txt {
	width: 32%;
}

.about-me {
	border: 1px solid #282828;
	margin: 0 auto;
	width: 840px;
	/*height: 680px;*/
	/*border: 1px solid green;*/
	background-color: #282828;
}

.profile-pic-ctn {
	position: relative;
	width: 840px;
	height: 360px;

	-webkit-animation: pull-up 0.5s ease-in-out;
	animation: pull-up 0.5s ease-in-out;
}

@-webkit-keyframes pull-up {
	from { margin-top: 100px; opacity: 0; }
	to { opacity: 1 }
}

@keyframes pull-up {
	from { margin-top: 100px; opacity: 0; }
	to { opacity: 1 }
}
.profile-pic-cap {
	font-size: 34px;
	width: 360px;
	height: 360px;
	background-color: #282828;
	color: white;
	/*border: 1px solid green;*/
	position: absolute;
  top: 0;
  bottom: 0;
  left: 360px;
  right: 0;
  height: 10%;
  margin: auto;
}

.profile-pic {
	float: left;
	border-radius: 50%;
	width: 360px; /* should be 360px; */
	height: 360px;
	padding-right: 8px;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	-webkit-animation: stretch 0.5s;
	animation: stretch 0.5s;
}

@-webkit-keyframes stretch {
	from { width: 0px; }
	to { width: 360px; }
}

@keyframes stretch {
	from { width: 0px; }
	to { width: 360px; }
}

.profile-pic:hover {
	width: 380px;
}

.width360px {
	width: 360px;
}

.bio {
	margin: 0;
	padding: 8px;
	color: white;
}

.home-btn {
	float: left;
	width: 48px;
	height: 48px;
	margin: 0;
	background-image: url("../images/home.png");
	background-size: 100% 100%;
	-webkit-transition: background-image 0.25s ease-in-out;
	-moz-transition: background-image 0.25s ease-in-out;
	-ms-transition: background-image 0.25s ease-in-out;
	-o-transition: background-image 0.25s ease-in-out;
	transition: background-image 0.25s ease-in-out;
}

.home-btn:hover {
	background-image: url("../images/home-hover.png");
}

.nav-filler {
	background-color: #282828;
	width: 840px;
	/*height: 49px;*/
	height: 64px;
}

.dropdown-btn {
	position: relative;
}

.dropdown-btn:hover ul{
	visibility: visible;
	opacity: 1;
}

.dropdown-btn ul {
	position: absolute;
	visibility: hidden;
	/*left: 54px;*/
	left: 24px;
	opacity: 0;
	transition-property: all;
	transition-duration: .4s;
	transition-delay: 0s;
}

.dropdown-btn ul li {
	display: block;
	background-color: rgba(0, 0, 0, 0.65);
	padding: 8px 0 8px 32px;
	width: 200px;
	border-top: 1px solid #B0B0B0;
}

nav {
	position: fixed;
	float: left;
	background-color: rgba(0, 0, 0, 0.65);
	border: 1px solid transparent;
	display: inline-block;
	width: 100%;
	z-index: 10;
}

nav ul {
	display: block;
	width: 860px;
	margin: 0 auto;
	padding: 8px;
	list-style-type: none;
}

nav ul li {
	display: inline;
	padding-left: 64px;
	padding-right: 64px;
}

nav ul li a {
	color: #B0B0B0;
	font-size: 28px;
	transition-property: color;
	transition-duration: .25s;
	transition-delay: 0s;
}

nav ul li a:hover {
	color: #FFFFFF;
}

footer {
	margin: 0 auto;
	margin-top: 16px;
	width: 95%;
	border-top: 1px solid #FFFFFF
}

footer p {
	margin: 8px 0 8px 0;
	color: #FFFFFF;
}

@media all and (max-device-width: 800px), (max-width: 800px) {
	.ctr-img-txt {
		font-size: 11vw;
	}

	.hello-world-txt {
		width: 74%;
		height: 25%;
		color: #19FF19;
	}

	.adventure-txt {
	  width: 56%;
	}

	.photography-txt {
		width: 72%;
	}

	.bike-txt {
		width: 20%;
	}

	nav ul {
		width: 500px;
	}

	nav ul li {
		padding-left: 22px;
		padding-right: 22px;
	}

	nav ul li a {
		font-size: 26px;
	}
}

@media all and (max-device-width: 600px), (max-width: 600px) {
	.viewport-name {
		padding-top: 36px;
	}

	.viewport-name h1 {
		font-size: 32px;
	}

	nav ul {
		width: 360px;
	}

	nav ul li {
		padding-left: 16px;
		padding-right: 16px;
	}

	nav ul li a {
		font-size: 18px;
	}
}

.container {
  max-width: 960px;
  height: 900px;
  margin: 0 auto;
}

section {
	border: 1px solid transparent;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

section.module.parallax h1 {
	display: block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 160px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  height: 142px;
  margin: auto;
	text-shadow: 0 0 16px rgba(255, 255, 255, 0.8);
}

section.module.parallax-1 {
  background-image: url("../images/gospel-rock-panorama.jpg");
}
section.module.parallax-2 {
  background-image: url("../images/golden-gate-bridge.jpg");
}
section.module.parallax-3 {
  background-image: url("../images/mtb-1.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  	height: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  	height: 158px;
  }
}

.instagram-photos ul {
	list-style-type: none;
	clear: both;
}

.instagram-photos li {
	margin: 8px;
	float: left;
}

.instagram-photos img {
	width: 250px;
	height: 250px;
	opacity: 0.2;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	/*-webkit-animation: photo-in 1s ease-in-out;
	animation: photo-in 1s ease-in-out;*/
}

.instagram-photos img:hover {
	opacity: 1;
}

.insta-show {
	opacity: 1;
}

/*@-webkit-keyframes photo-in {
	from { opacity: 0; }
	to { opacity: 1 }
}

@keyframes photo-in {
	from { opacity: 0; }
	to { opacity: 1 }
}*/